* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  background: black;
  -webkit-font-smoothing: antialiased;
  color: white;
  padding: 1rem;
}

h1 {
  margin: 40px 0;
  font-size: 64px;
  line-height: 70px;
  font-weight: bold;

  @media (max-width: 1024px) {
    margin: 24px 0;
    font-size: 42px;
    line-height: 42px;
  }

  @media (max-width: 768px) {
    font-size: 38px;
    line-height: 38px;
  }

  @media (max-width: 400px) {
    font-size: 32px;
    line-height: 32px;
  }
}

a {
  color: white;
  text-decoration: underline;
  padding: 0.25rem 0.5rem;
  border-radius: 4px;

  &:hover {
    text-decoration: none;
  }
}

.content {
  display: flex;
  align-items: baseline;
}